#dashbord {
    padding: 50px 0;
    background-color: var(--bg-color);
}

.sell_retll_card {
    max-width: 300px;
    padding: 25px 50px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sell_retll_card .card_img {
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.sell_retll_card .card-body {
    margin-top: 16px;
    text-align: center;
}

.sell_retll_card .card-body h2 {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
}

.sell_retll_card .card-body p {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    margin: 5px 0;
}

.sell_retll_card .card-body .card_btn {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 14px;
}

/* Dashbord Navbar */
.dashbord_navbar {
    padding: 10px 0;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.dashbord_navbar {
    text-align: start;
}

.dashbord_navbar .nav-link {
    position: relative;
    color: var(--secondary-color);
    text-align: start;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.dashbord_navbar .nav-link.active,
.dashbord_navbar .show>.nav-link {
    color: var(--secondary-color);
    background-color: #FFF4EF;
}

.dashbord_navbar .nav-link.active::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--brand-color);
    left: 0;
    top: 0;
}

/*=====================
 Dashbord Part Start 
 ====================*/
.dashbord_wraper,
.dashbord_overview,
.dahsbord_chart {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.title{
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
}

.dashbord_cards_main,
.dashbord_overview_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
}
.dashbord_cards_main .dashbord_cards {
    width: 30%;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.dashbord_cards_main .dashbord_cards:nth-child(1){
    background-color: var(--primary-color);
    color: white;
}
.dashbord_cards_main .dashbord_cards:nth-child(2){
    background-color: var(--brand-color);
    color: white;
}
.dashbord_cards_main .dashbord_cards:nth-child(3){
    background-color: #1DA76C;
    color: white;
}
.dashbord_cards_main .dashbord_cards:nth-child(4),
.dashbord_cards_main .dashbord_cards:nth-child(5),
.dashbord_cards_main .dashbord_cards:nth-child(6){
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.dashbord_overview{
    margin: 10px 0;
}
.dashbord_overview_main .dashbord_cards {
    width: 22%;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.dashbord_overview_main .dashbord_cards:nth-child(1){
    background-color: var(--primary-color);
    color: white;
}
.dashbord_overview_main .dashbord_cards:nth-child(2){
    background-color: var(--brand-color);
    color: white;
}
.dashbord_overview_main .dashbord_cards:nth-child(3){
    background-color: #D30000;
    color: white;
}
.dashbord_overview_main .dashbord_cards:nth-child(4){
    background-color: #1DA76C;
    color: white;
}
.dashbord_cards .card_title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.dashbord_cards p{
    font-size: 24px;
    font-weight: 700;
}
.dahsbord_chart{
    display: flex;
    gap: 20px;
}
.dahsbord_chart .chart1{
    width: 60%;
}
.dahsbord_chart .chart1,
.dahsbord_chart .chart2{
    border: 1px solid var(--bg-color);
    padding: 5px;
}
/*=====================
  Dashbord Part End
=====================*/
/*=====================
Payment Account Start
=====================*/
.payment_account_main,
.payment_account_details{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.payment_account_main .payment_account_wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
}
.payment_account_wraper .payment_accounts_card {
    width: 31%;
    text-align: center;
    padding: 20px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.payment_accounts_card .card_title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.payment_accounts_card p{
    font-size: 16px;
    font-weight: 700;
}
.payment_account_wraper .payment_accounts_card:nth-child(1){
    background-color: var(--primary-color);
    color: white;
}
.payment_account_wraper .payment_accounts_card:nth-child(2){
    background-color: #d9116b;
    color: white;
}
.payment_account_wraper .payment_accounts_card:nth-child(3){
    background-color: var(--brand-color);
    color: white;
}

.payment_account_details{
    margin-top: 10px;
}
.account_details .details_items{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.account_details .details_items .details_title{
    width: 110px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.account_details .details_items input,
.account_details .details_items select,
.account_details .details_items textarea{
    width: 100%;
    max-width: 370px;
    padding: 2px 10px;
    font-size: 14px;
    text-align: center;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.payment_accBtn {
    max-width: 370px;
    display: flex;
    gap: 10px;
    margin-left: 120px;
    margin-top: 20px;
}
.payment_accBtn .save{
    color: white;
    background-color: var(--primary-color);
    width: 30%;
}
.payment_accBtn .reject{
    color: white;
    background-color: var(--brand-color);
    width: 30%;
}
.payment_accBtn .edit{
    color: var(--primary-color);
    border: 1px solid var(--primary-color) !important;
    width: 30%;
}

/*=====================
 Payment Account End
=====================*/
/*=====================
    My Wallet Start
=====================*/
.wallet_withdrow_main{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.wallet_withdrow_main .withdrow_details{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.wallet_main .payment_accounts_card {
    width: 30%;
}
.wallet_withdrow_main .payment_account_details .details_title{
    width: auto;
}
.wallet_withdrow_main .payment_account_details input,
.wallet_withdrow_main .payment_account_details select,
.wallet_withdrow_main .payment_account_details textarea{
    width: 60%;
    margin-left: auto;
}
.wallet_withdrow_main .payment_account_details,
.wallet_withdrow_main .withdrow_details{
    margin-top: 0;
    width: 50%;
}
.withdrow_details table{
    width: 100%;
    margin-top: 10px;
}
.withdrow_details table thead tr th{
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
}
.withdrow_details table tbody tr td{
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
}
/*=====================
 My Wallet End
=====================*/

/* Responsive */
@media (max-width: 991.98px) {
    .dashbord_cards_main .dashbord_cards {
        width: 48%;
    }
    .dashbord_overview_main .dashbord_cards {
        width: 48%;
    }
    .payment_account_wraper .payment_accounts_card {
        width: 48%;
    }
    .wallet_main .payment_accounts_card {
        width: 48%;
    }
    .dahsbord_chart {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .dahsbord_chart .chart1 {
        width: 100%;
    }
    .dahsbord_chart #myChart{
        width: 100% !important;
        height: 400px !important;
        margin: auto;
    }
    .dahsbord_chart #myChart2{
        margin: auto;
    }
    .wallet_withdrow_main {
        flex-direction: column;
    }
    .wallet_withdrow_main .payment_account_details, .wallet_withdrow_main .withdrow_details {
        width: 100%;
    }
    .wallet_withdrow_main .payment_account_details input, .wallet_withdrow_main .payment_account_details select, .wallet_withdrow_main .payment_account_details textarea {
        width: 100%;
    }
    .wallet_withdrow_main .account_details .details_items{
        flex-direction: column;
    }
    .wallet_withdrow_main .payment_account_details input, .wallet_withdrow_main .payment_account_details select, .wallet_withdrow_main .payment_account_details textarea {
        margin-left: 0;
    }
}
@media (max-width: 767.98px) {
    .dahsbord_chart {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .dahsbord_chart .chart1 {
        width: 100%;
    }
    .dahsbord_chart #myChart{
        width: 100% !important;
        height: 400px !important;
        margin: auto;
    }
    
    .dahsbord_chart #myChart2{
        margin: auto;
    }
    .sell_retll_card {
        margin: auto;
    }
    .dashbord_navbar{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
    }
    .dashbord_navbar .nav-link{
        flex-direction: column;
        font-size: 12px;
        text-wrap: nowrap;
        border: 1px solid var(--bg-color);
        padding: 4px;
    }
    .dashbord_cards_main .dashbord_cards {
        width: 100%;
    }
    .dashbord_overview_main .dashbord_cards {
        width: 100%;
    }
    .payment_account_wraper .payment_accounts_card {
        width: 100%;
    }
    .wallet_main .payment_accounts_card {
        width: 100%;
    }
    .account_details .details_items {
        flex-direction: column;
        align-items: start;
    }
    .account_details .details_items .details_title{
        margin-bottom: 5px;
        width: fit-content;
        gap: 5px;
    }
    .payment_accBtn {
        width: auto;
        margin-left: 0;
    }
    
}